<div style="display: flex; margin-top: 200px">
        <div class="row " >
                <div class="col s12 m12 l12 offset-l2 offset-m2 ">
                  <div class="card  purple lighten-5 ">
                    <div class="card-content center black-text">
                      <span class="card-title">Lunch</span>
                      <p>12:00 PM to 03:15 PM</p>
                    </div>
                    <div class="card-action" style="display: flex; justify-content: center">
                            <button id="subBtn" ng-click="bookmeal()" class="waves-effect waves-light btn-large secondary-color scale-transition scale-in"><i class="material-icons left">cloud</i>Book Meal</button>
                    </div>
                    <div id="loader" style="visibility:hidden" class="progress green accent-4">
                            <div class="indeterminate white"></div>
                          </div>
                    </div>
                  </div>
                
                 
              </div>
</div>